/*===== VARIABLES =====*/

:root {
  --primary-color: #031B7D;
  --secundary-color: #eee;
  --text-color: #212429;
  --text-color-02: #fff;
}

/*===== GOOGLE FONTS =====*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
/*========== STYLE BASES ==========*/

*, *::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  color: var(--text-color);
  font-weight: 400;
  text-rendering: optimizeLegibility;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-weight: 600;
}

h1 {
  font-size: 4rem;
  text-transform: uppercase;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

button {
  border: none;
  background-color: transparent;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color-02);
  font-weight: 400;
  font-size: 2rem;
}

a, button {
  outline: none;
  cursor: pointer;
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

/*========== STYLE HEADER ==========*/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 2;
  padding: 0 20px;
  background-color: var(--primary-color);
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.3);
}

.header-menu__logo {
  height: 40px;
}

.header-menu {
  position: absolute;
  top: 60px;
  left: -100%;
  width: 100%;
  height: 300px;
  background-color: var(--primary-color);
  transition: .6s;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.show {
  left: 0;
}

.header-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 70%;
}

.header-menu__list__item {
  position: relative;
}

.header-menu__list__item--link {
  color: var(--text-color-02);
}

.header-menu__list__item:hover::before {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
}

.header-menu__list__item::before {
  content: '';
  position: absolute;
  bottom: -4px;
  width: 100%;
  height: 3px;
  display: block;
  background-image: linear-gradient(to right, #EADFDF 0%, #ECE2DF 100%);
  transition: .6s;
  -webkit-transition: .6s;
  -moz-transition: .6s;
  -ms-transition: .6s;
  -o-transition: .6s;
  transform-origin: center;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
}

.header-menu__cta__btn, .header-menu__contact__btn {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  width: 150px;
  height: 40px;
  background-color: var(--secundary-color);
}

.header-menu__contact__btn {
  display: none;
}

.header-menu__contact__link {
  color: var(--text-color);
}

.header-menu__contact--ico {
  font-size: 2.2rem;
  color: #4caf50;
}

.header-menu__contact a, .header-menu__cta__btn a {
  color: var(--text-color);
}

.header-menu__button {
  height: 40px;
  width: 40px;
  padding: 0 6px;
}

.heder-menu__button__burger {
  position: relative;
  padding: 10px 0;
}

.header-menu__button__burger--line, .header-menu__button__burger--line::before, .header-menu__button__burger--line::after {
  width: 100%;
  height: 3px;
  display: block;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: var(--text-color-02);
  transition: .6s;
  -webkit-transition: .6s;
  -moz-transition: .6s;
  -ms-transition: .6s;
  -o-transition: .6s;
}

.header-menu__button__burger--line::before {
  content: '';
  position: absolute;
  top: 0;
}

.header-menu__button__burger--line::after {
  content: '';
  position: absolute;
  bottom: 0;
}

.active.header-menu__button__burger--line {
  transform: rotate(45deg);
}

.active.header-menu__button__burger--line::before {
  transform: rotate(90deg);
}

.active.header-menu__button__burger--line::after {
  display: none;
}

/*========== STYLE INI ==========*/

.main-content {
  position: relative;
  background-color: rgb(255, 255, 255);
  padding-top: 80px;
}

.main-hero__contact__container {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}

.main-hero__contact__cover--text, .main-hero__project__box, .origin-footer__header, .origin-footer__information, .origin-footer__information__b {
  padding: 0 20px;
}

.main-hero__contact {
  margin: 100px 0;
}

/*========== STYLE SECTION PROjECTS ==========*/

.main-hero__project__collection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 800px));
  row-gap: 20px;
}

.main-hero__project__box--link {
  display: block;
  height: 300px;
}

.main-hero__project__box--img {
  height: inherit;
}

.main-hero__project__box--copy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-hero__project__box--copy h3 {
  margin: 10px 0;
}

/*========== STYLE SECTION CONTACT ==========*/

.main-hero__contact__container {
  display: flex;
  justify-content: center;
}

.main-hero__contact__cover {
  margin-bottom: 30px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.main-hero__contact__cover--text {
  text-align: center;
  line-height: 1.5;
}

.main-hero__contact__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main-hero__contact__box {
  height: 150px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.main-hero__contact__box a {
  color: var(--text-color);
}

.main-hero__contact__box--ico {
  font-size: 4rem;
}

.icofont-envelope {
  color: #4caf50;
}

.icofont-whatsapp {
  color: #4caf50;
}

.icofont-facebook-messenger {
  color: #0077f5;
}

.icofont-instagram {
  color: #e01d4e;
}

/* ==== STYLES EFECTO SCROLL ==== */

.to-top {
  opacity: 0;
  transform: translateY(-145%);
  -webkit-transform: translateY(-145%);
  -moz-transform: translateY(-145%);
  -ms-transform: translateY(-145%);
  -o-transform: translateY(-145%);
  transition: transform 2s ease;
  -webkit-transition: transform 2s ease;
  -moz-transition: transform 2s ease;
  -ms-transition: transform 2s ease;
  -o-transition: transform 2s ease;
}

.to-right {
  opacity: 0;
  transform: translatex(145%);
  -webkit-transform: translatex(145%);
  -moz-transform: translatex(145%);
  -ms-transform: translatex(145%);
  -o-transform: translatex(145%);
  transition: transform 2s ease;
  -webkit-transition: transform 2s ease;
  -moz-transition: transform 2s ease;
  -ms-transition: transform 2s ease;
  -o-transition: transform 2s ease;
}

.to-bottom {
  opacity: 0;
  transform: translatey(10vh);
  -webkit-transform: translatey(10vh);
  -moz-transform: translatey(10vh);
  -ms-transform: translatey(10vh);
  -o-transform: translatey(10vh);
  transition: transform 2s ease;
  -webkit-transition: transform 2s ease;
  -moz-transition: transform 2s ease;
  -ms-transition: transform 2s ease;
  -o-transition: transform 2s ease;
}

.to-left {
  opacity: 0;
  transform: translateX(-10vh);
  -webkit-transform: translateX(-10vh);
  -moz-transform: translateX(-10vh);
  -ms-transform: translateX(-10vh);
  -o-transform: translateX(-10vh);
  transition: transform 2s ease;
  -webkit-transition: transform 2s ease;
  -moz-transition: transform 2s ease;
  -ms-transition: transform 2s ease;
  -o-transition: transform 2s ease;
}

.visible {
  opacity: 1;
  transform: translate(0);
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
}

/*========== STYLE SECTION FOOTER ==========*/

.origin-footer {
  background-color: var(--primary-color);
}

.origin-footer__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding-top: 15px;
}

.origin-footer__header, .origin-footer__information {
  height: 300px;
}

.origin-footer__header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.origin-footer__header__logo {
  height: 40px;
}

.origin-footer__header__texto {
  text-align: center;
}

.origin-footer__header__texto, .origin-footer__information__box--text span, .origin-footer__information__box--title, .origin-footer__information__box--list--items a {
  font-size: 1.6rem;
}

.origin-footer__header__texto, .origin-footer__information__box--text span {
  color: var(--text-color-02);
  line-height: 1.5;
}

.origin-footer__social__list {
  height: 60px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.origin-footer__social__list--items--link--ico, .origin-footer__information__box--ico {
  font-size: 3rem;
  color: var(--text-color-02);
}

.origin-footer__information {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
}

.origin-footer__information__box {
  display: flex;
}

.origin-footer__information__box--ico {
  font-size: 6rem;
  align-self: center;
  margin-right: 20px;
}

.origin-footer__information__box--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.origin-footer__information__b {
  margin-top: 20px;
}

.origin-footer__information__box--content {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.origin-footer__information__box--content:first-child {
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5);
}

.origin-footer__information__box--content:nth-child(2) {
  margin-top: 20px;
}

.origin-footer__information__box--title {
  color: var(--text-color-02);
}

.origin-footer__information__box--list {
  display: flex;
  flex-wrap: wrap;
  height: 70%;
}

.origin-footer__information__box--list--items {
  width: 50%;
  display: flex;
  align-items: center;
}

/* ==== MEDIA QUERIES ==== */

@media only screen and (min-width: 800px) {
  /* ==== STYLE MENU ==== */
  .header {
    display: grid;
    grid-template-columns: auto 1fr auto;
  }
  .header-menu__contact__btn {
    display: initial;
  }
  .header-menu__cta__btn, .header-menu__button {
    display: none;
  }
  .header-menu {
    position: initial;
    height: auto;
    justify-self: center;
    background-color: transparent;
  }
  .header-menu__list {
    flex-direction: row;
    height: 0;
    width: 100%;
  }
  .main-hero__project__collection {
    grid-template-columns: repeat(2, 1fr);
  }
  .main-hero__project__box:nth-child(even) {
    padding-left: 0;
  }
  .main-hero__contact__cover--text {
    width: 30%;
  }
}

@media only screen and (min-width: 1024px) {
  .header-menu {
    width: 55%;
  }
}