/*===== VARIABLES =====*/

:root {
  --primary-color: #031B7D;
  --secundary-color: #eee;
  --text-color: #212429;
  --text-color-02: #fff;
}

/*===== GOOGLE FONTS =====*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
/*========== STYLE BASES ==========*/

*, *::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  color: var(--text-color);
  font-weight: 400;
  text-rendering: optimizeLegibility;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-weight: 600;
}

h1 {
  font-size: 4rem;
  text-transform: uppercase;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

button {
  border: none;
  background-color: transparent;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color-02);
  font-weight: 400;
  font-size: 2rem;
}

a, button {
  cursor: pointer;
  outline: none;
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

/*========== STYLE HEADER ==========*/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 2;
  padding: 0 20px;
  background-color: var(--primary-color);
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.3);
}

.header-menu__logo {
  height: 40px;
}

.header-menu {
  position: absolute;
  top: 60px;
  left: -100%;
  width: 100%;
  height: 300px;
  background-color: var(--primary-color);
  transition: .6s;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.show {
  left: 0;
}

.header-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 70%;
}

.header-menu__list__item {
  position: relative;
}

.header-menu__list__item--link {
  color: var(--text-color-02);
}

.header-menu__list__item:hover::before {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
}

.header-menu__list__item::before {
  content: '';
  position: absolute;
  bottom: -4px;
  width: 100%;
  height: 3px;
  display: block;
  background-image: linear-gradient(to right, #EADFDF 0%, #ECE2DF 100%);
  transition: .6s;
  -webkit-transition: .6s;
  -moz-transition: .6s;
  -ms-transition: .6s;
  -o-transition: .6s;
  transform-origin: center;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
}

.header-menu__cta__btn, .header-menu__contact__btn {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  width: 150px;
  height: 40px;
  background-color: var(--secundary-color);
}

.header-menu__contact__btn {
  display: none;
}

.header-menu__contact__link {
  color: var(--text-color);
}

.header-menu__contact--ico {
  font-size: 2.2rem;
  color: #4caf50;
}

.header-menu__contact a, .header-menu__cta__btn a {
  color: var(--text-color);
}

.header-menu__button {
  height: 40px;
  width: 40px;
  padding: 0 6px;
}

.heder-menu__button__burger {
  position: relative;
  padding: 10px 0;
}

.header-menu__button__burger--line, .header-menu__button__burger--line::before, .header-menu__button__burger--line::after {
  width: 100%;
  height: 3px;
  display: block;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: var(--text-color-02);
  transition: .6s;
  -webkit-transition: .6s;
  -moz-transition: .6s;
  -ms-transition: .6s;
  -o-transition: .6s;
}

.header-menu__button__burger--line::before {
  content: '';
  position: absolute;
  top: 0;
}

.header-menu__button__burger--line::after {
  content: '';
  position: absolute;
  bottom: 0;
}

.active.header-menu__button__burger--line {
  transform: rotate(45deg);
}

.active.header-menu__button__burger--line::before {
  transform: rotate(90deg);
}

.active.header-menu__button__burger--line::after {
  display: none;
}

/*========== STYLE SECTION ORIGIN SHOP CATEGORY ==========*/

.origin-shop__category__container {
  background-color: var(--secundary-color);
}

.origin-shop__category {
  height: 100px;
  position: relative;
  display: flex;
  overflow-x: auto;
  scrollbar-color: transparent transparent;
  scrollbar-width: none;
  margin-bottom: 15px;
}

.origin-shop__category__content {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  width: 165px;
  color: var(--text-color);
}

.origin-shop__category__ico {
  font-size: 4rem;
  color: var(--text-color);
}

/*========== STYLE SECTION ORIGIN HEADER ==========*/

.origin .origin-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin-top: 30px;
}

.origin-shop__carousel__header {
  height: 523px;
  position: relative;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.origin-shop__carousel__navigation {
  position: absolute;
  bottom: 20px;
  left: 25%;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--text-color-02);
  cursor: pointer;
  transition: background-color .6s ease;
  -webkit-transition: background-color .6s ease;
  -moz-transition: background-color .6s ease;
  -ms-transition: background-color .6s ease;
  -o-transition: background-color .6s ease;
}

.activo {
  background-color: var(--primary-color);
}

.origin-shop__carousel__slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.origin-shop__carousel__slider--details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}

.origin-shop__carousel__slider--title, .origin-shop__articles__container--details h3, .origin-shop__articles__container--details span {
  color: var(--text-color-02);
}

.slider__img--01 {
  background-image: url(../img/producto-05.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slider__img--02 {
  background-image: url(../img/producto-06.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slider__img--03 {
  background-image: url(../img/producto-07.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slider__img--04 {
  background-image: url(../img/producto-08.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: .5s;
  animation-name: fade;
  animation-duration: .5s;
}

@-webkit-keyframes fade {
  0% {
    opacity: .4
  }
  100% {
    margin: 0;
  }
}

@keyframes fade {
  0% {
    opacity: .4
  }
  100% {
    opacity: 1
  }
}

.origin-aside {
  background-color: var(--primary-color);
}

.origin-aside__title {
  margin: 10px 0;
  color: var(--text-color-02);
}

.origin-aside__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px;
}

.origin-aside__list__items {
  position: relative;
  height: 80px;
  display: flex;
  justify-content: center;
}

.origin-aside__list__items--link {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-shadow: 1px 1px 0 #000;
}

.origin-aside__list__items--ico {
  font-size: 3rem;
  margin: 0 20px;
}

/*========== STYLE SECTION COVER ==========*/

.origin-header, .origin-cover__container, .origin-services__container, .origin-shop__category, .origin-footer__container, .contact-container {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}

.origin-cover__cta__text, .origin-cover__business, .origin-services__box, .origin-services__title, .origin-project__box__content, .origin-shop__articles--details, .origin-footer__header, .origin-footer__information, .origin-footer__information__b, .contact-content__box__text, .contact-form, .origin-shop__articles__box--text {
  padding: 0 20px;
}

.origin {
  position: relative;
  background-color: rgb(255, 255, 255);
  padding-top: 60px;
}

.origin-cover {
  margin-top: 30px;
  background-image: url(../img/circle-04.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.origin-cover__container {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  position: relative;
}

.origin-cover__cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  height: 400px;
}

.origin-cover__cta__title, .origin-cover__cta__text {
  color: var(--text-color);
}

.origin-cover__cta__text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  line-height: 1.5;
  margin: 20px 0;
}

.origin-cover__cta__btn, .origin-services__box__btn, .origin-shop__articles__container--btn {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  width: 150px;
  height: 40px;
  background-color: var(--primary-color);
}

.origin-cover__business {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.origin-cover__business span {
  text-align: center;
}

.origin-cover__business__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.origin-cover__business__list--items {
  height: 50px;
  width: 50px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items--logo {
  font-size: 4rem;
}

.origin-cover__background {
  align-self: end;
}

/* .origin-cover__background img,
.origin-services__box__img img {
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,.5));
  -webkit-filter: drop-shadow(10px 10px 10px rgba(0,0,0,.5));
} */

/*========== STYLE SECTION SERVICES ==========*/

.origin-services {
  min-height: 100vh;
  height: auto;
  width: 100%;
  position: relative;
}

.origin-services__title {
  text-align: center;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--primary-color);
  color: var(--text-color-02);
  margin-bottom: 30px;
}

.origin-services__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
}

.origin-services__box {
  display: flex;
  flex-direction: column;
}

.origin-cover__cta__text p, .origin-services__box p, .origin-project__box__content p {
  line-height: 1.5;
}

.origin-services__box:nth-child(even) {
  justify-content: space-evenly;
  height: 300px;
  text-align: center;
  align-items: center;
}

/*========== STYLE SECTION PROJECTS ==========*/

.origin-project h2 {
  margin: 100px 0;
}

.origin-project__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 400px;
}

.origin-project__box__link {
  display: block;
  height: 100%;
}

.origin-project__box__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgba(3, 27, 125, 0.6);
  opacity: 0;
  transition: opacity .5s ease;
  -webkit-transition: opacity .5s ease;
  -moz-transition: opacity .5s ease;
  -ms-transition: opacity .5s ease;
  -o-transition: opacity .5s ease;
}

.origin-project__box__content:hover {
  opacity: 1;
}

.origin-project__box__content h3 {
  padding-bottom: 50px;
}

.origin-project__box {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.origin-project__box--01 {
  background-image: url(../img/project-01.jpg);
}

.origin-project__box--02 {
  background-image: url(../img/project-02.jpg);
}

.origin-project__box--03 {
  background-image: url(../img/project-03.jpg);
}

.origin-project__box--04 {
  background-image: url(../img/project-04.jpg);
}

.origin-project__box--05 {
  background-image: url(../img/project-05.jpg);
}

.origin-project__box--06 {
  background-image: url(../img/project-06.jpg);
}

/*========== STYLE SECTION SHOP ==========*/

.origin-shop__title {
  margin: 80px 0;
}

.origin-shop__articles {
  display: grid;
  row-gap: 30px;
  overflow: hidden;
}

.origin-shop__article__container {
  display: grid;
  grid-auto-columns: 250px;
  column-gap: 30px;
  grid-auto-flow: column;
}

.orign-shop__articles__box {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--primary-color);
}

.origin-shop__articles__box--img {
  height: 300px;
}

.origin-shop__articles__box--text {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.origin-shop__articles__box--text h3 {
  font-size: 1.5rem;
  color: var(--text-color-02);
}

@keyframes runleft {
  0% {
    transform: translateX(5%);
    -webkit-transform: translateX(5%);
    -moz-transform: translateX(5%);
    -ms-transform: translateX(5%);
    -o-transform: translateX(5%);
  }
  50% {
    transform: translateX(-35%);
    -webkit-transform: translateX(-35%);
    -moz-transform: translateX(-35%);
    -ms-transform: translateX(-35%);
    -o-transform: translateX(-35%);
  }
  100% {
    transform: translateX(5%);
    -webkit-transform: translateX(5%);
    -moz-transform: translateX(5%);
    -ms-transform: translateX(5%);
    -o-transform: translateX(5%);
  }
}

.container--a {
  animation: runleft 30s steps(4500) 0s infinite alternate none running;
  -webkit-animation: runleft 30s steps(4500) 0s infinite alternate none running;
}

@keyframes runright {
  0% {
    transform: translateX(-35%);
    -webkit-transform: translateX(-35%);
    -moz-transform: translateX(-35%);
    -ms-transform: translateX(-35%);
    -o-transform: translateX(-35%);
  }
  50% {
    transform: translateX(-20%);
    -webkit-transform: translateX(-20%);
    -moz-transform: translateX(-20%);
    -ms-transform: translateX(-20%);
    -o-transform: translateX(-20%);
  }
  75% {
    transform: translateX(-10%);
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    -o-transform: translateX(-10%);
  }
  100% {
    transform: translateX(5%);
    -webkit-transform: translateX(5%);
    -moz-transform: translateX(5%);
    -ms-transform: translateX(5%);
    -o-transform: translateX(5%);
  }
}

.container--b {
  animation: runright 25s steps(4500) 0s infinite alternate none running;
  -webkit-animation: runright 25s steps(4500) 0s infinite alternate none running;
}

/* ==== STYLES EFECTO SCROLL ==== */

.origin-cover__cta__content, .origin-services__box {
  overflow: hidden;
}

.to-top {
  opacity: 0;
  transform: translateY(-145%);
  -webkit-transform: translateY(-145%);
  -moz-transform: translateY(-145%);
  -ms-transform: translateY(-145%);
  -o-transform: translateY(-145%);
  transition: transform 2s ease;
  -webkit-transition: transform 2s ease;
  -moz-transition: transform 2s ease;
  -ms-transition: transform 2s ease;
  -o-transition: transform 2s ease;
}

.to-right {
  opacity: 0;
  transform: translatex(145%);
  -webkit-transform: translatex(145%);
  -moz-transform: translatex(145%);
  -ms-transform: translatex(145%);
  -o-transform: translatex(145%);
  transition: transform 2s ease;
  -webkit-transition: transform 2s ease;
  -moz-transition: transform 2s ease;
  -ms-transition: transform 2s ease;
  -o-transition: transform 2s ease;
}

.to-bottom {
  opacity: 0;
  transform: translatey(10vh);
  -webkit-transform: translatey(10vh);
  -moz-transform: translatey(10vh);
  -ms-transform: translatey(10vh);
  -o-transform: translatey(10vh);
  transition: transform 2s ease;
  -webkit-transition: transform 2s ease;
  -moz-transition: transform 2s ease;
  -ms-transition: transform 2s ease;
  -o-transition: transform 2s ease;
}

.to-left {
  opacity: 0;
  transform: translateX(-10vh);
  -webkit-transform: translateX(-10vh);
  -moz-transform: translateX(-10vh);
  -ms-transform: translateX(-10vh);
  -o-transform: translateX(-10vh);
  transition: transform 2s ease;
  -webkit-transition: transform 2s ease;
  -moz-transition: transform 2s ease;
  -ms-transition: transform 2s ease;
  -o-transition: transform 2s ease;
}

.visible {
  opacity: 1;
  transform: translate(0);
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
}

/*========== STYLE SECTION FOOTER ==========*/

.origin-footer {
  background-color: var(--primary-color);
}

.origin-footer__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding-top: 15px;
}

.origin-footer__header, .origin-footer__information {
  height: 300px;
}

.origin-footer__header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.origin-footer__header__logo {
  height: 40px;
}

.origin-footer__header__texto {
  text-align: center;
}

.origin-footer__header__texto, .origin-footer__information__box--text span, .origin-footer__information__box--title, .origin-footer__information__box--list--items a {
  font-size: 1.6rem;
}

.origin-footer__header__texto, .origin-footer__information__box--text span {
  color: var(--text-color-02);
  line-height: 1.5;
}

.origin-footer__social__list {
  height: 60px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.origin-footer__social__list--items--link--ico, .origin-footer__information__box--ico {
  font-size: 3rem;
  color: var(--text-color-02);
}

.origin-footer__information {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
}

.origin-footer__information__box {
  display: flex;
}

.origin-footer__information__box--ico {
  font-size: 6rem;
  align-self: center;
  margin-right: 20px;
}

.origin-footer__information__box--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.origin-footer__information__b {
  margin-top: 20px;
}

.origin-footer__information__box--content {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.origin-footer__information__box--content:first-child {
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5);
}

.origin-footer__information__box--content:nth-child(2) {
  margin-top: 20px;
}

.origin-footer__information__box--title {
  color: var(--text-color-02);
}

.origin-footer__information__box--list {
  display: flex;
  flex-wrap: wrap;
  height: 70%;
}

.origin-footer__information__box--list--items {
  width: 50%;
  display: flex;
  align-items: center;
}

/*========== STYLE PAGE CONTACT ==========*/

.contact {
  padding-top: 60px;
}

.contact-cover {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/contact-cover.jpg);
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-container__title h1, .contact-container__title p {
  color: var(--text-color-02);
  text-shadow: 1px 1px 0 #000;
}

.contact-container__title p {
  margin-top: 20px;
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.5;
}

.contact-container {
  display: grid;
  margin-top: 30px;
}

.contact-container__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 200px;
}

.contact-content__box {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
  margin: 0 10px 10px;
}

.contact-content__box__link {
  color: var(--text-color);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.contact-content__box--ico {
  font-size: 4rem;
}

.envelope {
  color: #ffb300;
}

.icofont-whatsapp {
  color: #4caf50;
}

.facebook {
  color: #0077f5;
}

.contact-content__box__text {
  line-height: 1.5;
  text-align: center;
}

.contact-img {
  background-image: url(../img/support-cta.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 400px;
}

/* ==== MEDIA QUERIES ==== */

@media only screen and (min-width: 700px) {
  /*========== STYLE SECTION ORIGIN HEADER ==========*/
  .origin .origin-header {
    grid-template-columns: 1fr 300px;
  }
  .origin-aside__list {
    display: initial;
  }
  .origin-aside__list__items:hover {
    box-shadow: inset 0 -2px 0 0 rgba(255, 255, 255, 0.5);
  }
  .origin-aside__list__items::after {
    content: "\27A4";
    right: 20px;
    color: var(--text-color-02);
    font-size: 2rem;
    top: 28px;
    position: absolute;
  }
  .origin-aside__list__items, .origin-aside__list__items--link {
    justify-content: initial;
  }
  .origin-aside__list__items--link {
    flex-direction: row;
    width: 100%;
  }
}

@media only screen and (min-width: 800px) {
  /* ==== STYLE MENU ==== */
  .header {
    display: grid;
    grid-template-columns: auto 1fr auto;
  }
  .header-menu__contact__btn {
    display: initial;
  }
  .header-menu__cta__btn, .header-menu__button {
    display: none;
  }
  .header-menu {
    position: initial;
    height: auto;
    justify-self: center;
    background-color: transparent;
  }
  .header-menu__list {
    flex-direction: row;
    height: 0;
    width: 100%;
  }
  /*========== STYLE SECTION COVER ==========*/
  .origin-cover__container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 900px) {
  .origin-footer__information__b {
    margin-top: 0;
  }
  .contact-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-img {
    background-size: initial;
    height: initial;
  }
}

@media only screen and (min-width: 1300px) {
  .header-menu {
    width: 50%;
  }
}

@media only screen and (min-width: 1190px) {
  .origin-shop__category {
    justify-content: center;
  }
}

@media only screen and (min-width: 1200px) {
  .origin-cover__cta__text {
    width: 80%;
  }
  /*========== STYLE SECTION PROJECTS ==========*/
  .origin-services__container .origin-services__box:nth-child(5) {
    grid-area: 2/2/3/2;
  }
  .origin-services__container .origin-services__box:nth-child(8) {
    grid-area: 2/3/3/3;
  }
  .origin-project__box--01, .origin-project__box--04 {
    grid-row-start: span 2;
  }
  .origin-project__box--03 {
    grid-area: 2/2/3/2;
  }
  .origin-project__box--06 {
    grid-area: 2/4/3/4;
  }
}